BudgetManagerLibrary/XML/Schemas/DataFileSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Budget">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="BudgetItem">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="AbsoluteValue" type="xs:decimal" />
								<xs:element name="BookingDateTime" type="xs:string" />
								<xs:element name="ItemType" type="xs:string" />
								<xs:element name="Receipt">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="BillingDateTime" type="xs:string" />
											<xs:element name="Name" type="xs:string" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>